<% if @user.person%>
<% provide(:title, @user.person.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.person.name %><br><br>
      </h1>
      <h4>
        <%= link_to "Information", person_path %><br><br>
        <%= link_to "Reputation", person_path %>
      </h4> 
    </section>
  </aside>
</div>
<% else%>
<% provide(:title, @user.company.name_co) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.company.name_co %><br><br>
      </h1>
      <h4>
        <%= link_to "Information", company_path %><br><br>
        <%= link_to "Employees", company_index_path %><br><br>
        <%= link_to "Reputation", company_path %><br><br>
        <%= link_to "New project announcements", company_path %><br><br>
        <%= link_to "Post a proyect need", company_path %>
      </h4>
    </section>
  </aside>
</div>
<% end %>
